body{
    background-image:linear-gradient(90deg, lightgreen 30%, turquoise 50%, beige 60%);
    font-family:'Fira Sans', 'Fira Sans Regular', sans-serif;
    min-height: 100vh;
    
}

.navigation{
    position: fixed;
    top: 10px;
    left: 0px;
    width: 100%;
    opacity: 0.75;
    padding: 10px;
    z-index: 10;
    font-size: large;
    font-weight: bold;
}
.navigation a{
     padding: 10px 20px;
     margin: 0 10px;
}

.content{
    margin-top: 70px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
}
.content-area{
    flex: 1 1 auto;
    margin-left: 20px;
}
#header_aboutme{
    align-items: center;
    text-align: center;
    font-size: large;
}
  

.highlighted_text{
    background-image: linear-gradient(45deg, lightgreen 40%, turquoise 60%);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent;

}

#content_aboutme{
    text-align: left;
    font-size: larger;

}

#icecream{
    flex: 0 0 auto;
    padding: 10px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}